<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">AuthServer</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="well col-md-8 col-md-offset-2">

        <h2>Please Confirm</h2>

        <p>
            Do you authorize <strong th:text="${authorizationRequest.clientId}">client</strong>
            at <strong th:text="${authorizationRequest.redirectUri}">redirect URI</strong>
            to access your protected resources
            with scope <strong th:text="${#strings.listJoin(authorizationRequest.scope, ',')}">scope</strong>.
        </p>

        <form style="display: inline-block" name="confirmationForm" th:action="@{/oauth/authorize}" method="post">
            <input name="user_oauth_approval" value="true" type="hidden" />
            <button class="btn btn-primary" type="submit">Approve</button>
        </form>
        <form style="display: inline-block" name="confirmationForm" th:action="@{/oauth/authorize}" method="post">
            <input name="user_oauth_approval" value="false" type="hidden" />
            <button class="btn btn-primary" type="submit">Deny</button>
        </form>

    </div>

</div>
</body>
</html>